.comments-item {
  @include flex('column');

  margin-bottom: 40px;

  @include m(child) {
    margin-bottom: 0;

    &:last-of-type {
      .comments-item {
        @include el(main-wrapper) {
          margin-bottom: 0;
        }
      }
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  @include el(main-wrapper) {
    @include flex('row', 'nowrap');
    @include alignment('align', 'start');
    @include alignment('justify', 'between');

    @include m(child) {
      margin-bottom: 30px;
    }
  }

  @include el(data) {
    max-width: 670px;
    width: 100%;

    @include m(small) {
      max-width: 580px;
    }
  }

  @include el(heading-wrapper) {
    @include flex();

    margin-top: 1px;
    margin-bottom: 10px;
  }

  @include el(author-name) {
    @extend .stag__medium;

    margin: 0 9px 0 0;
    font-size: 17px;
    font-weight: normal;
    color: #454545;

    @include m(replied) {
      @extend .stag__light;

      font-weight: normal;
      letter-spacing: -0.9px;
      color: #b6b6b6;

      svg {
        height: 15px;
      }
    }

    @include m(small) {
      font-size: 15px;
      letter-spacing: 0;

      svg {
        margin-right: 3px;
      }
    }
  }

  @include el(posted-date) {
    @extend .stag__book;

    color: #b6b6b6;
    margin-top: 1px;
    letter-spacing: -0.4px;

    b {
      @extend .stag__medium;

      font-weight: normal;
    }

    svg {
      margin-right: 3px;
      height: 13px;
      transform: translateY(-1px);
    }
  }

  @include el(text) {
    @extend .stag__book;

    font-size: 17px;
    color: #454545;
    line-height: 25px;
  }

  @include el(actions-wrapper) {
    @include flex();

    margin-top: 12px;
  }

  @include el(action) {
    @extend .stag__book;

    transition: all 400ms ease;
    font-size: 15px;
    color: #b6b6b6;
    border-width: 0;
    background: none;
    padding: 0;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 11px;
    }

    &:hover {
      color: darken(#b6b6b6, 10%);
    }

    &:focus {
      outline: none;
    }
  }

  @include el(children) {
    list-style: none;
    padding-left: 110px;
    margin-top: 20px;
  }
}
