.comments {
  @include el(author-wrapper) {
    width: 80px;
    height: 80px;
    padding: 2px;
    border-radius: 4px;
    border: 2px solid #ebedee;

    @include m(small) {
      width: 60px;
      height: 60px;
    }
  }

  @include el(author-avatar) {
    @include object-fit(cover, center);

    border-radius: 3px;
    width: 100%;
    height: 100%;
  }

  @include el(load-container) {
    @include flex();
    @include alignment();
    @include alignment('justify');

    width: 100%;
    position: relative;
    margin-bottom: 60px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      height: 2px;
      width: 100%;
      background: #f2f2f2;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      background: #ffffff;
      width: 208px;
      height: 40px;
      z-index: 1;
    }
  }

  @include el(load-button) {
    @extend .stag__book;

    @include flex();
    @include alignment();
    @include alignment('justify');

    transition: all 400ms ease;
    height: 40px;
    width: 182px;
    font-weight: normal;
    color: #b6b6b6;
    font-size: 17px;
    background: none;
    z-index: 2;
    border: 2px solid #f2f2f2;
    cursor: pointer;
    letter-spacing: -0.8px;

    &:hover {
      color: darken(#b6b6b6, 10%);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}

.comments-list {
  padding: 0;
  list-style: none;
  margin-top: 40px;
  margin-bottom: 50px;
}

.comments-item {
  @include flex('column');

  margin-bottom: 40px;

  @include m(child) {
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-bottom: 0;

    .comments-item {
      @include el(main-wrapper) {
        margin-bottom: 0;
      }
    }
  }

  @include el(main-wrapper) {
    @include flex('row', 'nowrap');
    @include alignment('align', 'start');
    @include alignment('justify', 'between');

    @include m(child) {
      margin-bottom: 30px;
    }
  }

  @include el(data) {
    max-width: 670px;
    width: 100%;

    @include m(small) {
      max-width: 580px;
    }
  }

  @include el(heading-wrapper) {
    @include flex();

    margin-top: 1px;
    margin-bottom: 10px;
  }

  @include el(author-name) {
    @extend .stag__medium;

    margin: 0 9px 0 0;
    font-size: 17px;
    font-weight: normal;
    color: #454545;

    @include m(replied) {
      @extend .stag__light;

      font-weight: normal;
      letter-spacing: -0.9px;
      color: #b6b6b6;

      svg {
        height: 15px;
      }
    }

    @include m(small) {
      font-size: 15px;
      letter-spacing: 0;

      svg {
        margin-right: 3px;
      }
    }
  }

  @include el(posted-date) {
    @extend .stag__book;

    color: #b6b6b6;
    margin-top: 1px;
    letter-spacing: -0.4px;

    b {
      @extend .stag__medium;

      font-weight: normal;
    }

    svg {
      margin-right: 3px;
      height: 13px;
      transform: translateY(-1px);
    }
  }

  @include el(text) {
    @extend .stag__book;

    font-size: 17px;
    color: #454545;
    line-height: 25px;
  }

  @include el(actions-wrapper) {
    @include flex();

    margin-top: 12px;
  }

  @include el(action) {
    @extend .stag__book;

    transition: all 400ms ease;
    font-size: 15px;
    color: #b6b6b6;
    border-width: 0;
    background: none;
    padding: 0;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 11px;
    }

    &:hover {
      color: darken(#b6b6b6, 10%);
    }

    &:focus {
      outline: none;
    }
  }

  @include el(children) {
    list-style: none;
    padding-left: 110px;
    margin-top: 20px;
  }
}
