@mixin el($name) {
  @at-root #{&}__#{$name} {
    @content;
  }
}

@mixin m($name) {
  @at-root #{&}--#{$name} {
    @content;
  }
}

@mixin addFont($fontName, $modifier: null) {
  $fullFont: "#{$fontName}-#{$modifier}";

  @font-face {
    font-family: #{$fullFont};
    src: url("./fonts/#{$fontName}/#{$fullFont}/#{$fullFont}.eot");
    src: url("./fonts/#{$fontName}/#{$fullFont}/#{$fullFont}.eot?#iefix") format("embedded-opentype"),
    url("./fonts/#{$fontName}/#{$fullFont}/#{$fullFont}.woff") format("woff"),
    url("./fonts/#{$fontName}/#{$fullFont}/#{$fullFont}.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
}
