.article {
  @include el(text) {
    &, * {
      @extend .stag__book;
      font-size: 17px;
      line-height: 25px;
      color: #454545;
      letter-spacing: 0.08px;
    }

    p {
      margin-bottom: 25px;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 23px;
      }
    }
  }

  @include el(image-wrapper) {
    width: 370px;
    height: 253px;
    max-width: 100%;
    float: left;
    transform: translate3d(-80px, 1px, 0);
    margin-right: -60px;
    position: relative;

    &:hover {
      .article {
        @include el(image-filter) {
          opacity: 1;
        }
      }
    }
  }

  @include el(image-filter) {
    @include flex();
    @include alignment();
    @include alignment('justify');

    opacity: 0;
    transition: all 400ms ease;
    position: absolute;
    z-index: 2;
    background: rgba(#000, 0.5);
    top: 15px;
    left: 10px;
    right: 15px;
    bottom: 15px;
    cursor: pointer;

    img {
      transform: translate3d(1px, 1px, 0px);
    }

    p {
      @extend .stag__book;

      position: absolute;
      font-weight: normal;
      color: #f2f2f2;
      font-size: 13px;
      font-style: italic;
      bottom: -10px;
      letter-spacing: -0.3px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @include el(image) {
    @include object-fit(cover, center);

    width: 365px;
    height: 243px;
    border: 5px solid #f2f2f2;
    border-left-width: 0;
  }
}
